header {
  line-height: 0.8;
  font-family: 'Gloria Hallelujah', cursive;
  color: orange;]
}
.logo-heading {
  width: 100%;
  display:flex;
  overflow: none;
}
.heading {
  margin:auto;
  margin-left: 0.8rem;
  font-size: 1.3rem;
  text-align: center;
}
.logo {
  margin:auto;
}
.logo img{
  max-width: 8rem;
}
#hamburger{
  float: right;
}
#hamburger img {
  max-width:4rem;
}
.main-nav {
  font-family: 'Lato', sans-serif;
}
.main-nav ul {
  list-style: none;
  background-color: #E0F4EC;
  text-align: center;
  padding: 0;
  margin:0;
  clear: right;

}
.main-nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
.main-nav li a{
  text-decoration: none;
  color: #1A8B5D;
  display: block;
  transition: .3s background-color;
}
.main-nav a:hover {
  color: white;
  background-color: orange;
}
.filters {
  height: 2rem;
  width:40%;
  margin: auto;
  border-bottom: none;
}
.filters select {
  margin-top: 1.5rem;
  width: 11rem;
}
section {
  margin: 4rem;
  border-bottom: 2px solid #444;
}
section h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.6rem;
  color: #1A8B5D;
}
article {
  border-bottom: 2px solid #444
}
.template {
  display: none;
}
.intro{
  display: flex;
}
.head-shot {
  display: inline-block;
}
.list {
  font-size: 1.2rem;
  display: inline-block;
  margin: auto;
}
article h3 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.6rem;
  color: #1A8B5D;
}

form label input{
  display: block;
}
